

<nav class='navbar navbar-default'>
<div class="navbar-header">
  <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle Navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="http://www.vrchat.net">{{ SITE_TITLE }}</a>
</div>

<div class="collapse navbar-collapse" id="">
  <ul class="nav navbar-nav">
    <li><a href="http://www.vrchat.net/download">Download</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Create</a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="https://docs.google.com/document/d/1ECZVPqGREL8kqwbIUnjwtVPzoGuppwg0Ry7nStZR6F8/edit?usp=sharing">Documentation</a></li>
        <li><a href="https://www.youtube.com/channel/UC_9vjBF7PyfmG26KDcedXNQ">Youtube Tutorials</a></li>
        <li><a href="http://vrchat.wikia.com/wiki/VRChat_Wikia">Community Wiki</a></li>
        <!-- <li><a href="#">Api</a></li> -->
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Content</a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Marketplace</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Worlds</a></li>
        </ul>
    </li>
    <li><a href="http://www.vrchat.net/forums">Forums</a></li>
    <li><a href="http://www.vrchat.net/contact">Contact</a></li>
  </ul>

  {% if not user.is_anonymous %}
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user}}</a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="">Home</a></li>
        <li><a href="">Redeem</a></li>
        <li><a href="">Profile</a></li>
        <li><a href="{% url 'dashboard.views.logout' %}">Logout</a></li>
      </ul>
    </li>
  </ul>
  {% else %}
  <ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'dashboard.views.login' %}">Login</a></li>
    <li><a href="{% url 'dashboard.views.register' %}">Register</a></li>
  </ul>
  {% endif %}
</div>
</nav>
