{% extends "dashboard/master.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %} Status {% endblock %}

{% block content %}

      <h2>Hello World</h2>

      {% if db_ok %}
        <h3> Database OK! </h3>
      {% else %}
        <h3> Database NOT OK! </h3>
      {% endif %}

      {% if cache_ok %}
        <h3> Redis Cache OK! </h3>
      {% else %}
        <h3> Redis Cache NOT OK! </h3>
      {% endif %}

      {% if data_ok %}
        <h3> Redis Data OK! </h3>
      {% else %}
        <h3> Redis Data NOT OK! </h3>
      {% endif %}

      {% if celery_ok %}
        <h3> Celery OK! </h3>
      {% else %}
        <h3> Celery NOT OK! (If we've been running for less than a minute, wait a minute, Mister Impatient) </h3>
      {% endif %}

{% endblock %}
