<!DOCTYPE html>
{# Load the tag library #}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{% load bootstrap3 %}
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
    </title>
    {# Load CSS and JavaScript #}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link href="" rel="icon" type="image/png">
    {% block extraheader %}{% endblock %}
  </head>
  <body>
  <div class='container'>
      <h2>Hello World</h2>

      {% if db_ok %}
        <h3> Database OK! </h3>
      {% else %}
        <h3> Database NOT OK! </h3>
      {% endif %}

      {% if cache_ok %}
        <h3> Redis Cache OK! </h3>
      {% else %}
        <h3> Redis Cache NOT OK! </h3>
      {% endif %}

      {% if data_ok %}
        <h3> Redis Data OK! </h3>
      {% else %}
        <h3> Redis Data NOT OK! </h3>
      {% endif %}
  </div>
  </body>
</html>
